@import "~antd/dist/antd.css";
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 10px;
  background: red;
  color: white;
  outline: none;
}

//For Sign/Sign Up

.site-layout-content {
  animation: moveInLeft 0.9s ease-in 0.4s;
  animation-fill-mode: backwards;
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: center;
  background: #fff;
  //padding: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  min-height: 500px;
  //min-height: 60vh;

  width: 70vw;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.53);
  box-shadow: 10px 10px 39px -4px rgba(0, 0, 0, 0.53);
}
.clearfix {
  min-height: 55px;
}
.main-left {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  //   height: 100%;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 9, 121, 1) 53%,
    #3f51b5 100%
  );
}
.landing-left {
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  //   height: 100%;
  background: #fff;
}
.landing-right {
  width: 100%;
  //   height: 100%;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 9, 121, 1) 53%,
    #3f51b5 100%
  );
  padding-top: 30px;
}
.main-right {
  width: 100%;
  //   height: 100%;
  background: linear-gradient(
    180deg,
    rgba(249, 244, 244, 0.9066001400560224) 53%,
    rgba(255, 255, 255, 1) 100%
  );

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-row {
  padding: 5px;
}
.content-title {
  text-align: left;
  font-size: 22px;
  line-height: 1.71;
  color: #5d5f7b;
  margin: 20px 20px 30px 10px;
}
.content-title-left {
  font-size: 22px;
  line-height: 1.71;
  color: #5d5f7b;
  margin-top: 20px;
  margin-bottom: 0;
}
.main-left p {
  color: rgb(233, 231, 231);
  margin-top: 0;
  padding-top: 0;
  font-size: 16px;
}
.form-container {
  margin-left: 10px;
}

.center-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  animation: moveInBottom 0.5s ease-in 0.55s;
  animation-fill-mode: backwards;
}
.landing-side-left {
  font-size: 38px;
  line-height: 1.2;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 0;
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-weight: 500;
  animation: moveInLeft 0.5s ease-in 0.55s;
  animation-fill-mode: backwards;
  //width: 200px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

//Sign/Sign Up Ends

//Button
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 100px;
  transition: all 0.5s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(2px);
}

.btn-white {
  margin-top: 45px;
  background-color: #fff;
  color: #5d5f7b;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-in 0.55s;
  animation-fill-mode: backwards;
}

//Animations
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
